html, body{
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

header{
  text-align: center;
  font-size: 2em;
}

header h3{
  margin: unset;
}

.head-item{
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.head-item h4{
  line-height: 0.5;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.head-item > div{
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.head-item > span{
  font-size: 1.8em;
  cursor: pointer;
}

main{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiles{
  display: flex;
}

.tile{
  height: 70px;
  width: 70px;
  background: lightgray;
  border: 1px solid;
  cursor: pointer;
}

.glow{
  background: green;
}

.timer, .score{
  color: red;
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level{
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.level > span{
  padding: 10px 40px;
  border: 1px solid lightgray;
  cursor: pointer;
  background: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}
